.main-hero-section {
  background-color: #000;
  padding-bottom: 0px;
  justify-content: space-between;
  background-image: url(../../assets/images/hero-bg.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.large-text {
  font-size: 152px;
  line-height: 100%;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  padding: 100px 40px;
}

.hero-section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-button {
  min-width: 180px;
  padding: 16px 24px;
  border-radius: 4px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #ff3a20;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.01em;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover {
    filter: brightness(1.25);
  }
}

.partners-div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-trust-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
}

.partners-logo-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
  padding: 40px 0;
  margin-bottom: 40px;
}

.partners-logo-wrapper img {
  height: 80px;
  opacity: 0.75;
  margin-bottom: 50px;
}
